
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.bb{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style */
.tp{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
}
.btn2{
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    border:2px;
    padding: 16px 32px;
    border-radius: 5px;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.navt{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin: 50px;
}
nav ul a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
}
/* header section */
.ha{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.bag{
    font-size: 42px;
    font-weight: 600;
}
.btt{
    font-size: 80px;
    font-weight: bold;
}
.bc{
    max-width: 551px;
}
.im{
    width: 551px;
}