
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.bb{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style */
.bgs{
    background-color: #FFF8F3;
}
.tp{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer;
}
.btn2{
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    border:2px;
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer;
}
.sect{
    font-size: 32px;
    font-weight: bold;
    color: #181818;
}
.secd{
    font-size: 16px;
    color: #757575;
}
.textc{
    text-align: center;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.navt{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin: 50px;
}
nav ul a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
}
/* header section */
.ha{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.bag{
    font-size: 42px;
    font-weight: 600;
}
.btt{
    font-size: 80px;
    font-weight: bold;
}
.bc{
    max-width: 551px;
}
.im{
    width: 551px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
}
/* about styles */
.abt{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.i{
    font-weight: 600;
}
.abti{
    display: flex;
    justify-content: space-around;
}
/* Skill section */
.skillc{
display: flex;
gap: 22px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06);
}
/* resume styles */
.resc{
    display: flex;
    gap: 22px;
}
.expdes, .expst{
    color: #757575;
}
.expst{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
}
.res hr{
    margin: 20px 5px;
}
.ttt{
text-align: center;
margin-top: 50px;
}
/* Footer Styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.fotc{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;

}